<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
          <img src="../images/todo-list.svg" alt="Logo" height="30">
          Productivity Planner
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <!-- <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="#">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Équipes</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ressources</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Documentation</a></li>
                      <li><a class="dropdown-item" href="#">Blog</a></li>
                  </ul>
              </li>
          </ul> -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/signin">
                  Connexion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/signup">
                  Inscription
                </a>
              </li>
            </ul>
          </div>
         </div>
  </div>
</nav>
