.navbar {
    background-color: #ebedef;
    padding: 10px 20px;
}

/* .signup-btn {
    background-color: #1300ff; 
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

.signup-btn:hover {
    background-color: #0f00ca; 
    color: white;
}
*/